/* custom CSS */

#customContent {
  margin-top: 2%;
}

#myCarousel {
  width: 400px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  height: 100%;
}

.input-append .add-on,
.input-prepend .add-on {
  height: 100%;
}

@media (max-width: 480px) {
  #myCarousel {
    display: none;
  }
}

.container {
  width: auto;
  max-width: 680px;
}

.container .credit {
  margin: 20px 0;
}

html,
body {
  height: 100%;
  background: url(http://www.weebly.com/uploads/1/9/2/0/19203105/custom_themes/313342042472010040/files/background.png?1366159371002);
  background-image: linear-gradient(top, rgba(255,255,255) 0%, rgb(0,0,0) 56%), url(http://www.weebly.com/uploads/1/9/2/0/19203105/custom_themes/313342042472010040/files/background.png?1366159371002);
  background-image: -o-linear-gradient(top, rgba(255,255,255) 0%, rgb(0,0,0) 56%), url(http://www.weebly.com/uploads/1/9/2/0/19203105/custom_themes/313342042472010040/files/background.png?1366159371002);
  background-image: -moz-linear-gradient(top, rgba(255,255,255) 0%, rgb(0,0,0) 56%), url(http://www.weebly.com/uploads/1/9/2/0/19203105/custom_themes/313342042472010040/files/background.png?1366159371002);
  background-image: -webkit-linear-gradient(top, rgba(255,255,255) 0%, rgb(0,0,0) 56%), url(http://www.weebly.com/uploads/1/9/2/0/19203105/custom_themes/313342042472010040/files/background.png?1366159371002);
  background-image: -ms-linear-gradient(top, rgba(255,255,255,o) 0%, rgb(0,0,0) 56%), url(http://www.weebly.com/uploads/1/9/2/0/19203105/custom_themes/313342042472010040/files/background.png?1366159371002);

  background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, rgba(255,255,255,0)),
	color-stop(0.56, rgb(0,0,0))
  ),
  url(http://www.weebly.com/uploads/1/9/2/0/19203105/custom_themes/313342042472010040/files/background.png?1366159371002);
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

#push,
#footer {
  height: 60px;
 }
 
#footer {
  background-color: #ffffff;
}

@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 321px) {
  .navbar .brand {
    font-size: 15px;
  }
}
/* END custom */